* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header-index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  padding: 50px 30px;
  /* flex-wrap: wrap; */
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}
.header-index nav {
  display: none;
}

.header-index nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 26px;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--text-color);
  cursor: pointer;
}

.header-index nav ul li a {
  text-decoration: none;
  color: var(--black-color);
  transition: all 0.2s ease-in;
}
.header-index nav ul li a:hover {
  color: #07013a81;
}

.main-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.main-index__section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  font-family: 'Open Sans', sans-serif;
  background-image: url(../fylo-landing-page-with-two-column-layout-master/fylo-landing-page-with-two-column-layout-master/images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding: 20px;
  padding-bottom: 150px;
}
.main-index__section-title article {
  display: flex;
  flex-direction: column;
}
.main-index__section-title article img {
  width: 100%;
}

.main-index__section-title__article-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.main-index__section-title__article-text div h1 {
  color: var(--black-color);
  font-size: 1.7rem;
  font-weight: 700;
}

.main-index__section-title__article-text div p {
  color: var(--black-color);
  font-size: 1.2rem;
}
.main-index__section-title__article-text__div-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main-index__section-title__article-text__div-input {
  display: flex;
  flex-direction: column;
  gap: 22px;
  max-width: 450px;
  width: 90%;
  padding-bottom: 60px;
}

.main-index__section-title__article-text__div-input input {
  height: 60px;
  padding: 10px;
  opacity: 0.8;
  border: solid 1px black;
  border-radius: 6px;
  font-size: 1.2rem;
}

.main-index__section-title__article-text__div-input input::placeholder {
  padding: 10px;
}

.main-index__section-title__article-text__div-input button {
  border: none;
  background-color: var(--button-color);
  color: var(--white-color);
  font-size: 1.3rem;
  font-weight: 900;
  border-radius: 6px;
  padding: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.main-index__section-title__article-text__div-input button:hover {
  background-color: #2755d4b9;
}

.main-index__section-text {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background-color: var(--bg-color);
  padding-bottom: 100px;
}

.main-index__section-text__article-image img {
  width: 100%;
}

.main-index__section-text__article-productive {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 33px;
}

.main-index__section-text__article-productive__div-stay {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-index__section-text__article-productive__div-stay h2 {
  color: var(--black-color);
  font-size: 1.5rem;
}

.main-index__section-text__article-productive__div-stay p {
  color: #777483;
  font-size: 1.1rem;
}
.main-index__section-text__article-productive__div-arrow span {
  border-bottom: solid 1.6px #419d8e;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;
  color: #419d8e;
  cursor: pointer;
}

.main-index__section-text__article-productive__div-arrow img {
  width: 23px;
}

.main-index__section-text__article-productive__div-card {
  background-color: var(--white-color);
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
  padding: 33px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 450px;
  width: 100%;
}

.main-index__section-text__article-productive__div-card__subdiv-text {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  gap: 10px;
  font-size: 0.95rem;
  letter-spacing: 0.4px;
  font-family: 'Open Sans', sans-serif;
  color: var(--black-color);
}

.main-index__section-text__article-productive__div-card__subdiv-text img {
  width: 18px;
  height: 18px;
}

.main-index__section-text__article-productive__div-card__subdiv-kyle {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.main-index__section-text__article-productive__div-card__subdiv-kyle img {
  width: 37px;
  height: 37px;
  border-radius: 50%;
}
.main-index__section-text__article-productive__div-card__subdiv-kyle div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.main-index__section-text__article-productive__div-card__subdiv-kyle
  div
  strong {
  font-size: 1rem;
  font-weight: 900;
  color: var(--black-color);
}
.main-index__section-text__article-productive__div-card__subdiv-kyle div span {
  font-size: 0.7rem;
  font-weight: 900;
  opacity: 0.8;
}

.main-index__section-access {
  background-color: var(--bg-access-color);
  color: var(--white-color);
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 60px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}
.main-index__section-access__div-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-index__section-access__div-text h2 {
  font-size: 1.2rem;
}

.main-index__section-access__div-text p {
  font-size: 1rem;
}
.main-index__section-access__div-input {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  width: 78%;
  gap: 10px;
}
.main-index__section-access__div-input input {
  height: 40px;
  border: solid 1px var(--black-color);
  border-radius: 3px;
  padding: 10px;
}

.main-index__section-title__article-text__div-input input::placeholder {
  padding: 12px;
}

.main-index__section-access__div-input button {
  font-family: 'Raleway', sans-serif;
  border: none;
  background-color: var(--button-color);
  color: var(--white-color);
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 3px;
  padding: 13px;
  box-sizing: 0 0 10px rgba(0, 0, 0, 0.233);
  transition: all 0.2s ease-in;
}

.main-index__section-access__div-input button:hover {
  background-color: #2755d4b9;
}

.footer-index {
  background-color: var(--footer-color);
  padding: 30px;
  color: var(--white-color);
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 55px;
  font-size: 1rem;
}

.footer-index__article-contact {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.footer-index__article-contact svg path {
  fill: var(--white-color);
}

.footer-index__article-contact div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-index__article-contact div span {
  display: flex;
  flex-direction: row;
  gap: 12px;

  align-items: center;
}

.footer-index__article-dates {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-index__article-dates div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
}

.footer-index__article-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer-index__article-social svg {
  border: solid 1px var(--white-color);
  border-radius: 50%;
  box-sizing: content-box;
  padding: 8px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.footer-index__article-social svg path {
  fill: var(--white-color);
}

.footer-index__article-social svg:hover {
  background-color: #2755d4b9;
}

@media screen and (min-width: 768px) {
  .header-index nav {
    display: block;
  }
}

@media screen and (min-width: 1020px) {
  .footer-index {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 20px;
    font-size: 1.2rem;
    flex-wrap: wrap;
    gap: 40px;
  }
  .footer-index__article-dates {
    flex-direction: row;
    gap: 150px;
  }
  .footer-index__article-dates div {
    gap: 28px;
  }
  .footer-index__article-social {
    gap: 20px;
    padding-top: 60px;
  }
  .footer-index__article-social svg {
    width: 27px;
    height: 27px;
  }
  .footer-index__article-contact {
    margin-bottom: 160px;
  }
  .header-index {
    justify-content: space-between;
    padding: 90px 140px;
    align-items: center;
  }
  .header-index div img {
    width: 230px;
  }
  .header-index nav ul {
    font-size: 1.7rem;
    gap: 60px;
  }
  .main-index__section-title {
    flex-direction: row-reverse;
    text-align: start;
    padding: 40px;
    padding-bottom: 360px;
    background-image: url(../fylo-landing-page-with-two-column-layout-master/fylo-landing-page-with-two-column-layout-master/images/bg-curve-desktop.svg);
    padding-top: 100px;
  }
  .main-index__section-title article {
    align-items: flex-start;
  }
  .main-index__section-title__article-text div h1 {
    font-size: clamp(2rem, -0.471rem + 3.765vw, 4rem);
  }
  .main-index__section-title__article-text div p {
    font-size: clamp(1.2rem, 0.582rem + 0.941vw, 1.7rem);
  }
  .main-index__section-title__article-text {
    max-width: 40%;
  }
  .main-index__section-title__article-text__div-input {
    flex-direction: row;
    max-width: 1200px;
  }
  .main-index__section-title__article-text__div-input input {
    width: 100%;
    height: 70px;
    font-size: 1.4rem;
  }
  .main-index__section-title__article-text__div-input button {
    max-width: none;
    width: 65%;
    font-size: clamp(1rem, 0.629rem + 0.565vw, 1.3rem);
  }
  .main-index__section-title article img {
    max-width: 1200px;
    width: 100%;
  }
  .main-index__section-text {
    flex-direction: row-reverse;
    text-align: start;
    padding: 100px;
    padding-bottom: 200px;
  }
  .main-index__section-text__article-productive {
    align-items: flex-start;
  }
  .main-index__section-text__article-productive__div-stay h2 {
    font-size: clamp(2rem, -0.471rem + 3.765vw, 4rem);
    font-weight: 700;
    margin-bottom: 30px;
  }
  .main-index__section-text__article-productive__div-stay p {
    font-size: clamp(1.3rem, 0.806rem + 0.753vw, 1.7rem);
    max-width: 900px;
    color: var(--black-color);
  }

  .main-index__section-text__article-productive__div-arrow span {
    font-size: clamp(1.2rem, 0.706rem + 0.753vw, 1.6rem);
  }
  .main-index__section-text__article-productive__div-card {
    max-width: 550px;
    margin-top: 30px;
  }
  .main-index__section-text__article-productive__div-card p {
    font-size: clamp(1rem, 0.629rem + 0.565vw, 1.3rem);
  }
  .main-index__section-text__article-productive__div-card__subdiv-kyle div {
    gap: 0px;
  }
  .main-index__section-text__article-productive__div-card__subdiv-kyle
    div
    strong {
    font-size: clamp(1rem, 0.876rem + 0.188vw, 1.1rem);
  }
  .main-index__section-text__article-productive__div-card__subdiv-kyle
    div
    span {
    font-size: 0.9rem;
  }
  .main-index__section-text__article-image img {
    max-width: 1200px;
    width: 100%;
  }
  .main-index__section-access {
    flex-direction: row;
    text-align: start;
    justify-content: space-around;
    padding: 100px 70px;
    gap: 50px;
    flex-wrap: wrap;
  }
  .main-index__section-access__div-text {
    max-width: 800px;
  }
  .main-index__section-access__div-text h2 {
    font-size: clamp(2rem, 0.765rem + 1.882vw, 3rem);
    font-weight: 700;
  }
  .main-index__section-access__div-text p {
    font-size: clamp(1.1rem, 0.482rem + 0.941vw, 1.6rem);
  }

  .main-index__section-access__div-input {
    max-width: 800px;
    width: 100%;
    gap: 20px;
  }

  .main-index__section-access__div-input input {
    width: 90%;
    height: 67px;
    border: none;
    border-radius: 6px;
  }

  .main-index__section-access__div-input button {
    width: 40%;
    font-size: clamp(1rem, 0.753rem + 0.376vw, 1.2rem);
    padding: 20px;
  }
}
